---
import Layout from "../layouts/Layout.astro";
import PersonCard from "../components/PersonCard";
---

<Layout>
  <main id='rural-outreach' class='py-6 bg-lightgreen'>
    <div>
      <h2
        class='px-14 text-10xl font-bitter text-dartmouth opacity-75 font-extrabold mb-16'
      >
        Rural Outreach
      </h2>

      <div class='px-40'>
        <div class='flex gap-32 mb-16'>
          <img src='/hands_on.png' alt='Image 1' class='max-h-96 rounded-4xl' />
          <div class='flex flex-col justify-center'>
            <h3 class='font-bitter font-bold text-dartmouth text-4xl mb-8'>
              Hands-on Sessions
            </h3>
            <p class='font-poppins font-normal text-darkest text-lg'>
              Save a Life empowers rural communities with vital CPR skills
              through workshops, collaborations, and partnerships. Each session
              starts with a discussion on cardiac emergencies, followed by
              hands-on instruction and practice, using professional mannequins.
            </p>
          </div>
        </div>

        <div class='flex gap-32 mb-16'>
          <div class='flex flex-col justify-center'>
            <h3 class='font-bitter font-bold text-dartmouth text-4xl mb-8'>
              Accessibility and Inclusivness
            </h3>
            <p class='font-poppins font-normal text-darkest text-lg'>
              From panchayats to academies and trekking groups, Save a Life is
              dedicated to disseminating CPR knowledge far and wide. We tailor
              every session to suit its people, simplifying content for broader
              audiences and enhancing it for medical students. Sessions are also
              conducted in Marathi or Hindi as needed, ensuring accessibility
              remains paramount.
            </p>
          </div>

          <img
            src='/inclusive.jpg'
            alt='Image 1'
            class='max-h-96 rounded-4xl'
          />
        </div>

        <div class='flex gap-32 mb-16'>
          <img
            src='/versatility.png'
            alt='Image 1'
            class='max-h-96 rounded-4xl'
          />
          <div class='flex flex-col justify-center'>
            <h3 class='font-bitter font-bold text-dartmouth text-4xl mb-8'>
              Versatility
            </h3>
            <p class='font-poppins font-normal text-darkest text-lg'>
              Amidst challenges, the initiative endured. Online sessions
              replaced in-person workshops during the pandemic, and we adapted
              to outdoor sessions with smaller groups to abide by COVID
              guidelines, ensuring uninterrupted knowledge flow. Our pursuits
              include liaising with government bodies and working with the
              Indian Academy of Pediatrics to develop and launch the IAP CPR
              App.
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>

  <section id='map' class='px-40 py-20 bg-dartmouth'>
    <div class='mx-auto text-center'>
      <!-- Title -->
      <h2 class='text-8xl font-extrabold font-bitter text-lightgreen mb-6'>
        Outreach Locations
      </h2>

      <!-- Paragraph -->
      <p class='text-2xl mt-10 mx-auto max-w-[50ch] mb-16 text-white'>
        Explore an interactive map showcasing the locations where we've
        conducted training sessions, empowering communities with life-saving
        skills. Click on the markers to learn more about each session's details
        and see how we've made a difference.
      </p>
      <div class='rounded-xl overflow-hidden'>
        <iframe
          width='100%'
          height='576'
          src='https://maphub.net/embed_h/Bc6qNZUhlIbTTuZr'
          frameborder='0'></iframe>
      </div>
    </div>
  </section>
</Layout>
