---
---

<div class='swiper-container'>
  <div class='swiper-wrapper'>
    <div class='swiper-slide'>
      <img src='/outreach_pictures/1.jpg' alt='Slide 1' />
    </div>
    <div class='swiper-slide'>
      <img src='/outreach_pictures/2.jpg' alt='Slide 2' />
    </div>
    <div class='swiper-slide'>
      <img src='/outreach_pictures/3.jpg' alt='Slide 3' />
    </div>
    <div class='swiper-slide'>
      <img src='/outreach_pictures/4.jpg' alt='Slide 4' />
    </div>
    <div class='swiper-slide'>
      <img src='/outreach_pictures/5.jpg' alt='Slide 5' />
    </div>
    <div class='swiper-slide'>
      <img src='/outreach_pictures/6.jpg' alt='Slide 6' />
    </div>
    <div class='swiper-slide'>
      <img src='/outreach_pictures/7.jpg' alt='Slide 7' />
    </div>
    <div class='swiper-slide'>
      <img src='/outreach_pictures/8.jpg' alt='Slide 8' />
    </div>
    <div class='swiper-slide'>
      <img src='/outreach_pictures/9.jpg' alt='Slide 9' />
    </div>
    <div class='swiper-slide'>
      <img src='/outreach_pictures/10.jpg' alt='Slide 10' />
    </div>
    <div class='swiper-slide'>
      <img src='/outreach_pictures/11.jpg' alt='Slide 11' />
    </div>
    <div class='swiper-slide'>
      <img src='/outreach_pictures/12.jpg' alt='Slide 12' />
    </div>
    <div class='swiper-slide'>
      <img src='/outreach_pictures/13.jpg' alt='Slide 13' />
    </div>
    <div class='swiper-slide'>
      <img src='/outreach_pictures/14.jpg' alt='Slide 14' />
    </div>
    <div class='swiper-slide'>
      <img src='/outreach_pictures/15.jpg' alt='Slide 15' />
    </div>
    <div class='swiper-slide'>
      <img src='/outreach_pictures/16.jpg' alt='Slide 16' />
    </div>
    <div class='swiper-slide'>
      <img src='/outreach_pictures/17.jpg' alt='Slide 17' />
    </div>
    <div class='swiper-slide'>
      <img src='/outreach_pictures/18.jpg' alt='Slide 18' />
    </div>
    <div class='swiper-slide'>
      <img src='/outreach_pictures/19.jpg' alt='Slide 19' />
    </div>
    <div class='swiper-slide'>
      <img src='/outreach_pictures/20.jpg' alt='Slide 20' />
    </div>
    <div class='swiper-slide'>
      <img src='/outreach_pictures/21.jpg' alt='Slide 21' />
    </div>
    <div class='swiper-slide'>
      <img src='/outreach_pictures/22.jpg' alt='Slide 22' />
    </div>
    <div class='swiper-slide'>
      <img src='/outreach_pictures/23.jpg' alt='Slide 23' />
    </div>
    <div class='swiper-slide'>
      <img src='/outreach_pictures/24.jpg' alt='Slide 24' />
    </div>
    <div class='swiper-slide'>
      <img src='/outreach_pictures/25.jpg' alt='Slide 25' />
    </div>
    <div class='swiper-slide'>
      <img src='/outreach_pictures/26.jpg' alt='Slide 26' />
    </div>
    <div class='swiper-slide'>
      <img src='/outreach_pictures/27.jpg' alt='Slide 27' />
    </div>
    <div class='swiper-slide'>
      <img src='/outreach_pictures/28.jpg' alt='Slide 28' />
    </div>
  </div>
  <div class='swiper-button-next'></div>
  <div class='swiper-button-prev'></div>
</div>

<!-- Initialize Swiper -->
<script>
  import Swiper from "swiper"; // Import Swiper from the installed package
  const swiper = new Swiper(".swiper", {
    // Optional parameters
    direction: "vertical",
    loop: true,

    // If we need pagination
    pagination: {
      el: ".swiper-pagination",
    },

    // Navigation arrows
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },

    // And if we need scrollbar
    scrollbar: {
      el: ".swiper-scrollbar",
    },
  });
</script>
