---
import Nav from "../components/Navigation";
import Foot from "../components/Footer";
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='description' content='Save a Life initiative' />

    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'
      rel='stylesheet'
    />
    <link
      rel='stylesheet'
      href='https://unpkg.com/swiper/swiper-bundle.min.css'
    />

    <!-- Import Swiper JavaScript -->
    <script src='https://unpkg.com/swiper/swiper-bundle.min.js'></script>
  </head>
  <body class='font-poppins bg-white'>
    <main class='hidden lg:block'>
      <Nav client:load />
      <slot />
      <Foot client:load />
    </main>
    <div class='flex justify-center items-center h-screen'>
      <div class='text-center'>
        <!-- Title -->
        <h2
          class='text-4xl font-extrabold font-bitter text-dartmouth mb-6 mt-6'
        >
          Small Screens,<br />Big Plans
        </h2>

        <p class='text-xl mt-10 mx-auto text-darkest px-6'>
          The mobile-friendly website is in development and will be available
          soon. In the meantime, I recommend viewing this site on a laptop or
          desktop for the best experience. Apologies for any inconvenience.
        </p>
      </div>
    </div>
  </body>
</html>
